/*  FOOTER  */

.footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.social-link {
    display: flex;
}

.social-link__item {
    padding: 0.4em;
}
