/* CAROUSSEL */

.caroussel__section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.slide-track {
    display: flex;
}

.slide {
    flex: 0 0 auto;
    margin: 1em;
}

.slider {
    overflow: hidden;
}

@keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
  }
  
  .slide-track {
    animation: scroll 3s linear infinite;
    animation-direction: alternate;
}

@media (max-width: 600px) {
    .slide img {
        height: 35px;
        width: 70px;
    }
}