.main {
    padding: 0.5em;
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: var(--main-white);
    border: 0.5em solid var(--main-dark-red);
    border-radius: 0.5em;    
    padding: 1em;
    margin-bottom: 0.5em;
    position: relative;
}

.information__title {
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.informationLinks {
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    font-size: 1.5em;
}

.reglement__subtitle {
    text-align: left;
    font-size: 1.5em;
    padding-top: 0.5em;
}

.information__description {
    line-height: 1.5em;
    font-weight: normal;
}

.information__reglement {
    line-height: 2em;
    margin: 1em 0;
    text-align: left;
    font-weight: normal;
}

.listItem__reglement {
    font-weight: normal;
    list-style: circle;
}

.information__resultat {
    text-align: left;
    line-height: 1.5em;
}

.information__question {
    text-align: left;
    line-height: 1.5em;
    font-size: 1.1em;
}

.information__reponse {
    font-style: italic;
    text-align: left;
    margin-bottom: 1.5em;
    line-height: 1.5em;
    font-size: 0.9em;
}

@media (min-width: 900px) {
    .information__description {
        line-height: 1.7em;
    }
    .information__title {
        font-size: 2.5em;
    }
    .information__tile {
        font-size: 3em;
    }
    .main {
        padding: 2em;
        width: 80%;
        margin: auto;
        border-radius: 1.5em;    
        padding: 2em;
    }
    .information__ou {
        display: block;
        width: 100%;
        text-align: left;
        padding-left: 2em;
    }
}