/* KEYFRAMES */

@keyframes fadeInUpText {
    0% {
      opacity: 0; /* Début de l'animation : opacité à 0 */
      transform: translateY(50px); /* Début de l'animation : déplacer vers le bas de 50 pixels */
    }
    100% {
      opacity: 1; /* Fin de l'animation : opacité à 1 */
      transform: translateY(0); /* Fin de l'animation : revenir à la position d'origine */
    }
}

.main {
    opacity: 0;
    animation: fadeInUpText 0.5s ease 0.5s forwards; 
    padding: 0.5em;
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: var(--main-white);
    border: 0.5em solid var(--main-dark-red);
    border-radius: 0.5em;    
    padding: 1em;
    margin-bottom: 0.5em;
    position: relative;
}

.information__title {
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.information__image {
    width: 90%;
    padding: 1em;
}

.information__acces {
    text-align: left;
    font-weight: normal;
    line-height: 1.5em;
}

.informationLinksDivMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    font-size: 1.5em;
}

.informationLinksDivMobile > p {
    display: flex;
    align-items: center;
    padding-left: 25%;
}

.informationsLinksMobileIcons {
    width: 40px;
    height: 40px;
}

.informationsLinksMobile {
    text-decoration: none;
    padding: 0.8em;
}

.reglement__subtitle {
    text-align: left;
    font-size: 1.5em;
    padding-top: 0.5em;
}

.information__description {
    line-height: 1.5em;
    text-align: left;
    font-weight: normal;
}

.information__reglement {
    line-height: 2em;
    margin: 1em 0;
    text-align: left;
    font-weight: normal;
}

.listItem__reglement {
    font-weight: normal;
    list-style: circle;
}

.information__resultat {
    text-align: left;
    line-height: 1.5em;
}

.information__question {
    text-align: left;
    line-height: 1.5em;
    font-size: 1.1em;
}

.information__reponse {
    font-style: italic;
    text-align: left;
    margin-bottom: 1.5em;
    line-height: 1.5em;
    font-size: 0.9em;
}

@media (min-width: 900px) {
    .information__description {
        line-height: 1.7em;
    }
    .information__title {
        font-size: 2.5em;
    }
    .information__tile {
        font-size: 3em;
    }
    .main {
        padding: 2em;
        width: 80%;
        margin: auto;
        border-radius: 1.5em;    
        padding: 2em;
    }
    .information__ou {
        display: block;
        width: 100%;
        text-align: left;
        padding-left: 2em;
    }
    .informationLinksDivMobile {
        display: none;
    }
    .information__image {
        width: 60%;
    }
}