.main {
    padding: 0.5em;
    text-align: center;
    height: calc(100% - 350px);
    width: 90%;
    margin: auto;
    background-color: var(--main-white);
    border: 0.5em solid var(--main-main-card);
    border-radius: 0.5em;    
    padding: 1em;
    margin-bottom: 0.5em;
    position: relative;
}

.inscription__title {
    font-size: 2.5em;
    margin: 0.2em;
    text-decoration: underline;
}

.inscription__subtitle {
    text-decoration: underline;
    font-size: 1.2em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

.inscription__description {
    line-height: 1.5em;
}

.inscription__link {
    text-align: left;
    line-height: 1.5em;
}

.inscription__info {
    position: absolute;
    padding-bottom: 0.5em;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (min-width: 900px) {
    .inscription__description {
        line-height: 1.7em;
    }
    .inscription__link {
        line-height: 1.7em;
    }
    .inscription__title {
        font-size: 3em;
    }
    .main {
        padding: 2em;
        width: 80%;
        margin: auto;
        border-radius: 1.5em;    
        padding: 2em;
    }
    .inscription__subtitle {
        font-size: 1.5em;
        margin-bottom: 0.4em;
        margin-top: 0.4em;
    }
}