.main {
    padding: 0.5em;
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: var(--main-white);
    border: 0.5em solid var(--main-dark-red);
    border-radius: 0.5em;    
    padding: 1em;
    margin-bottom: 0.5em;
    position: relative;
}

.inscription__title {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.inscription__subtitle {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.inscription__date {
    text-decoration: underline;
    color: grey;
    font-style: italic;
}

.inscription__description {
    text-align: left;
    line-height: 1.5em;
    font-weight: normal;
}

.BlocInscription {
    display: flex;
    flex-direction: column;
}

.leftBlocInscription, .rightBlocInscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em 0;
}

strong {
    font-weight: bold;
}

.rightBlocInscription {
    border-top: 1px solid var(--main-dark-red);
    padding-top: 2.5em;
}

.inscription__link {
    text-align: left;
    line-height: 1.5em;
    font-weight: normal;
}

.inscription__info {
    position: absolute;
    padding-bottom: 0.5em;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (min-width: 900px) {
    .inscription__description {
        line-height: 1.7em;
    }
    .inscription__link {
        line-height: 1.7em;
    }
    .inscription__title {
        font-size: 3em;
    }
    .main {
        padding: 2em;
        width: 80%;
        margin: auto;
        border-radius: 1.5em;    
        padding: 2em;
    }
    .inscription__subtitle {
        font-size: 1.5em;
        margin-bottom: 0.8em;
        margin-top: 0.8em;
    }
    .inscription__date {
        font-size: 1.4em;
    }
    .leftBlocInscription, .rightBlocInscription {
        font-size: 1.2em;
        flex: 1;
    }
    .leftBlocInscription {
        border-right: 1px solid var(--main-dark-red);
    }
    .BlocInscription {
        flex-direction: row;
        justify-content: space-around;
    }
    .rightBlocInscription {
        border: none;
        padding-top: 0;

    }
}